### Question 1
> **_Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
> between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line._**

In [ ]:
def gen_find_divisible_numers(start, end):
    for number in range(start, end):
        if number % 7 == 0 and number % 5 != 0:
            yield number

In [ ]:
res = []
for gen in gen_find_divisible_numers(2000, 3201):
    res.append(str(gen))
print(', '.join(res))

### Question 2

> **_Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8
> Then, the output should be:40320_**

In [ ]:
def factorial(number):
    res = 1
    for n in range(1, number + 1):
        res = n * res
    return res

In [ ]:
n = 10
print(f"{n}! = {factorial(n)}")

### Question 3
> **_With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8_**
> **_Then, the output should be:_**
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
def gen_dict(start, end):
    dict_data = {}
    for n in range(start, end + 1):
        dict_data[n] = n * n
    
    return dict_data


print(gen_dict(1, 8))

### Question 4

> **_Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.Suppose the following input is supplied to the program:_**

```
34,67,55,33,12,98
```

> **_Then, the output should be:_**

```
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
```

In [ ]:
print(tuple(input("Enter a series of numbers separated by a comma :").split(',')))

In [1]:
number_list = input("Enter numbers separated by a comma: ")

Enter numbers separated by a comma: 1, 2, 3, 4, 5, 6, 7, 8, 9

In [8]:
def to_list(number_list):
    return number_list.split()


def to_tuple(number_list):
    return tuple(number_list.split())

In [15]:
print(to_list(number_list.replace(",", "")))
print(to_tuple(number_list.replace(",", "")))

['1', '2', '3', '4', '5', '6', '7', '8', '9']
('1', '2', '3', '4', '5', '6', '7', '8', '9')

### Question 5

> **_Define a class which has at least two methods:_**
>
> - **_getString: to get a string from console input_**
> - **_printString: to print the string in upper case._**

> **_Also please include simple test function to test the class methods._**